* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    box-sizing: border-box;
  }
  
  body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container-aluno {
    background-color: #1d1c1c;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 95vw;
    height: 90vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .header-aluno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .personalization-aluno {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid #ccc;
  }
  
  .central-container-aluno {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
  }
  
  .details-aluno {
    background-color: #3d3d3d;
    padding: 20px;
    max-height: 50vh;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  strong {
    color: #FFD700;
  }
  
  .back-button-aluno {
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 9vw;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 13px;
    transition: background-color 0.3s;
  }
  
  .back-button-aluno:hover {
    background-color: red;
  }
  
  .submit-button-aluno {
    background-color: #FFD700;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button-aluno:hover {
    background-color: #ffa600;
  }
  
  .submit-button-2-aluno {
    width: 10vw;
    padding: 12px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button-2-aluno:hover {
    background-color: #cc0000;
  }
  
  .form-row-aluno {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group-aluno {
    width: 48%;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  input::placeholder {
    color: #555;
  }
  
  .text-danger {
    color: #e74c3c;
    font-size: 12px;
    text-align: left;
  }
  