
.redefinir-senha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.box-senha{
    background-color: #1d1c1c;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 40vw;
    height: 50vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
